*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.body{
    background-image: url(../bg.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#snakeboard{
    background: linear-gradient(rgb(165, 249, 165), rgb(213, 239, 83));
    height: 650px;
    width: 650px;
    border: 3px solid black;
    right: 500px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background-color: red;
}
.snake{
    background-color: blue;
    border-radius: 100%;
}
.food{
    background-color: yellow;
    border-radius: 100%;
}
.scoreBoard{
    margin-bottom: 80vh;
    margin-left: 300px;
    font-size: 50px;
    font-weight: bold;
}
